---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav id="navMenu">
  <ul>
    <li>
      <a href="/" aria-label="Builds home page">Home</a>
    </li>
    <li>
      <a href="/events" aria-label="Builds events page">Events</a>
    </li>
    <li><a href="/eboard" aria-label="Builds eboard page">E-Board</a></li>
  </ul>
  <div id="highlight"></div>
</nav>

<script>
  /*
   * Clicking on a link, similar to MobileNavIcon, also dispatches/fires a
   * CustomEvent to notify components to animate the "closing" animation.
   * */
  import { animate } from "animejs";
  import { getCurrentUrl } from "swup";

  const $navMenu = document.getElementById("navMenu");
  if (!$navMenu) throw new Error("navMenu does not exist somehow");
  const $allLinks = $navMenu.querySelectorAll("li");
  const $highlightBlock = $navMenu.querySelector("#highlight");
  const isMobile = () => window.matchMedia("(max-width: 767px)").matches;

  function updateActiveLink() {
    const url = getCurrentUrl();
    $allLinks.forEach(($link) => {
      const $anchor = $link.children[0];
      const href = $anchor.getAttribute("href");
      if (href === url) {
        $link.classList.add("active");

        const { width, height, x, y } = $link.getBoundingClientRect();
        console.log(x, y);
        if (isMobile()) {
          animate($highlightBlock as HTMLElement, {
            width: width,
            height: height,
            x: x,
            y: y,
            duration: 100,
            ease: "out(5.82)",
          });
        } else {
          if (!$navMenu) throw new Error("navMenu does not exist");
          const { x: navX, y: navY } = $navMenu.getBoundingClientRect();
          animate($highlightBlock as HTMLElement, {
            width: width,
            height: height,
            x: x - navX,
            y: y - navY,
            duration: 500,
            ease: "out(5.82)",
          });
        }
      } else {
        $link.classList.remove("active");
      }
    });
  }

  function toggleNav() {
    if (!isMobile()) return;
    if (!$navMenu) throw new Error("navMenu does not exist somehow");
    if (document.body.hasAttribute("data-nav-open")) {
      $navMenu.style.opacity = "1";
      $navMenu.style.visibility = "visible";
    } else if (!document.body.hasAttribute("data-nav-open")) {
      $navMenu.style.opacity = "0";
      $navMenu.style.visibility = "hidden";
    }
  }

  updateActiveLink();
  document.addEventListener("swup:animation:out:start", () => {
    // Animation starts on swup view transition start
    updateActiveLink();
  });
  document.addEventListener("swup:history:popstate", () => {
    // Animation when forward/back are pressed in a browser
    updateActiveLink();
  });

  // Below are code responsible for navOpen and navClose events
  // which should only happen on mobile screen sizes

  $allLinks.forEach(($link) => {
    $link.addEventListener("click", () => {
      if (!isMobile()) return;
      document.body.removeAttribute("data-nav-open");
      document.dispatchEvent(new CustomEvent("navClose"));
    });
  });

  document.addEventListener("navOpen", toggleNav);
  document.addEventListener("navClose", toggleNav);
</script>

<style>
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 120px;
    z-index: 1999;
  }
  ul {
    border: 1px solid var(--color-border);
    text-align: center;
    list-style: none;
    height: fit-content;
    padding: 2px;
    margin: 0;

    display: flex;
    flex-direction: row;

    background-color: var(--color-text);
    color: var(--color-bg);
  }
  li {
    padding: 5px 30px;
    position: relative;
    z-index: 2;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .active {
    color: var(--color-text);
  }

  #highlight {
    position: absolute;
    background-color: var(--color-bg);
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: 767px) {
    nav {
      opacity: 1;
      visibility: visible;
      margin-top: 105px;
      height: fit-content;
    }
  }
</style>
