:root {
  font-family:
    DepartureMono Nerd Font,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
}
li {
  padding: 10px 15px;
  background-color: rgb(187, 39, 26);
}

body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  place-items: center;
  padding: 10px;
  overscroll-behavior-y: none;
}

#app-container {
  width: 1002px;
  min-wdith: 320px;
  height: 100%;
  transform-style: preserve-3d;
  margin: auto;

  /* 4 Corner border code  */
  border: 1px solid white;
  --s: 10px;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}

#app {
  margin: auto;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.inner {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transform-style: preserve-3d;
  perspective: 800px;
  overflow-y: scroll;
}

#app,
#app-container,
.inner {
  transition: transform 100ms;
}

#logo {
  width: 200px;
}
