:root {
  font-family:
    DepartureMono Nerd Font,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic Page Setup */
body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  padding: 10px;
  overscroll-behavior-y: none;
  justify-content: center;
}

#app-container {
  width: 1002px;
  min-wdith: 320px; /* Actual min-width is 425px, due to AnsiShadow logo size */
  height: 100%;
  transform-style: preserve-3d;

  /* 4 Corner border code  */
  border: 1px solid white;
  --s: 10px;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}

#app {
  margin: auto;
  height: 100%;
  padding: 5px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.inner {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transform-style: preserve-3d;
  perspective: 800px;
  overflow-y: scroll;
}

#app,
#app-container,
.inner {
  will-change: transform;
  transition: transform 100ms;
}

#logo-container {
  display: flex;
}

/* Hero section */
section {
  margin-bottom: 30px;
}

.hero-section {
  text-align: center;
  padding: 100px 0px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("/dithering-effect.webp");
  background-position: center;
  background-size: cover;
}

.hero-section span {
  color: red;
}
h1 {
  margin-bottom: 10px;
}
.hero-section p {
  padding: 0 100px;
  margin-bottom: 10px;
}
.hero-section .loc {
  background-color: rgba(255, 0, 0, 0.7);
  margin-bottom: 20px;
}
.hero-section button {
  border: 3px solid white;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
  transition: all 100ms;
}
.hero-section button:hover {
  border: 3px solid red;
  color: red;
  transform: translateX(-3px) translateY(-3px);
  transition: all 170ms;
}
.hero-section button:active {
  border: 3px solid red;
  transform: translateX(2px) translateY(2px);
  transition: all 100ms;
}

/* Builds Activities Section */
h2 {
  margin-left: 10px;
}
