:root {
  font-family:
    DepartureMono Nerd Font,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic Page Setup */
body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  padding: 10px;
  overscroll-behavior-y: none;
  justify-content: center;
}

#app-container {
  width: 1002px;
  min-width: 320px; /* Actual min-width is 425px, due to AnsiShadow logo size */
  height: 100%;
  transform-style: preserve-3d;

  /* 4 Corner border code  */
  border: 1px solid white;
  --s: 10px;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}

#app {
  margin: auto;
  height: 100%;
  padding: 5px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.inner {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transform-style: preserve-3d;
  perspective: 800px;
  overflow-y: scroll;
}

#app,
#app-container,
.inner {
  will-change: transform;
  transition: transform 100ms;
}

#logo-container {
  display: flex;
}

/* Hero section */
section {
  margin-bottom: 30px;
}

.hero-section {
  text-align: center;
  padding: 100px 0px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("/dithering-effect.webp");
  background-position: center;
  background-size: cover;
}

.hero-section span {
  color: red;
}
h1 {
  margin-bottom: 10px;
}
.hero-section p {
  padding: 0 100px;
  margin-bottom: 10px;
}
.hero-section .loc {
  background-color: rgba(255, 0, 0, 0.7);
  margin-bottom: 20px;
}
button {
  border: 3px solid white;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
  transition: all 100ms;
}
button:hover {
  border: 3px solid red;
  color: red;
  transform: translateX(-3px) translateY(-3px);
  transition: all 170ms;
}
button:active {
  border: 3px solid red;
  transform: translateX(2px) translateY(2px);
  transition: all 100ms;
}

/* Builds Activities Section */
h2 {
  margin-left: 20px;
}
.builds-desc {
  padding: 20px;
}
.activity-card-containers {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 0px 20px;
}
.activity-card {
  width: 300px;
  height: 410px;
  border: 1px solid white;
}
.activity-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  overflow-y: hidden;
}
.activity-card-info {
  padding: 10px;
}
.card-title {
  color: red;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Hacker Section */
.hacking-section {
  padding: 20px;
}
.hacking-section h2 {
  margin: 0;
  margin-bottom: 20px;
}
.hacking-section p {
  margin-bottom: 20px;
}

/* Contact Cards */
.contact-cards-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contact-mailing-list {
  border: 1px solid white;
  padding: 10px;
}
.contact-mailing-list h2 {
  margin: 0;
  margin-bottom: 10px;
}
.contact-mailing-list p {
  margin: 0;
  margin-bottom: 10px;
}
.mailing-list-input {
  display: flex;
}
.mailing-list-input input {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  background-color: black;
  border: 1px solid red;
}

.contact-us-card {
  width: 420px;
  border: 1px solid white;
  border-left: none;
  padding: 10px;
}
.contact-us-card h2 {
  margin: 0;
  margin-bottom: 10px;
}
