<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
  <div class="svg-wrapper" data-js="outer-frame" style="opacity: 1;"> 
    <svg viewBox="0 0 1199 969" fill="none" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <mask id="mask">
          <rect id="outer-rect-mask-bg" x="0" y="0" fill="white"></rect>
          <rect class="rect-radius" id="outer-rect-mask-body" x="20" y="20" fill="black"></rect> 
        </mask> 
      </defs>
      <rect class="rect-bg" id="outer-rect-bg" x="0" y="0" fill="var(--color-bg)" mask="url(#mask)"></rect>
      <rect id="outer-rect-border" class="rect-radius" x="20" y="20" stroke-width="1" fill="var(--color-bg)" fill-opacity="0" stroke="var(--color-border)" vector-effect="non-scaling-stroke"></rect> 
    </svg>
  </div>
		<slot />
	</body>
</html>

<script>
 // Need to set width, height and viewbox with javascript
</script>

<style is:global>
  :root {
    --color-border: #ffffff;
  }

  .rect-radius {
    rx: 12px;
  }

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

  html {
    background-color: black;
    color: white;
  }

  .svg-wrapper {
    position: fixed;
    width: 100vw;
    height: 100svh;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .svg-wrapper svg{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .svg-wrapper rect {
    transform-origin: center;
  }
</style>
